<script type="text/javascript">
$(function() {
	if (navigator.mimeTypes && !navigator.mimeTypes["application/x-shockwave-flash"]){
		$('body').addClass('no-flash');
	}
});
</script>

<h1>Welcome</h1>
<p>
    Welcome to SP90X (Scripture Power 90 Extreme), the 90 day gospel study and action program to jump start your spiritual fitness and put you on the fast track to all of your spiritual goals!
</p>
<div class="slideshow">
	<!--<h2 style="padding: 0px; margin: 3px;"><a href="http://www.authorstream.com/Presentation/bradyisom-918567-sp90x-kickoff-2/" target="_blank" style="font:normal 18px,arial;">SP90X Kickoff</a></h2>-->
	<object width="425" height="354" id="player">
		<param name="movie" value="http://www.authorstream.com/player.swf?r=0&p=918567_634369175167043352&pt=3" />
		<param name="allowfullscreen" value="true" />
		<param name="allowScriptAccess" value="always"/>
		<embed src="http://www.authorstream.com/player.swf?r=0&p=918567_634369175167043352&pt=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="354"></embed>
	</object>
</div>
<div class="slideshow-alt">
<h2>Study</h2>
<p>
    Daily scripture study is an essential part of spirituality. 
    Studying the word of God keeps our minds pointed towards Him and gives us perspective throughout our day. 
    For those of us preparing to go on missions or doing any other type of teaching, study is also a pre-requisite (<a href="http://lds.org/scriptures/dc-testament/dc/11.21?lang=eng#20" target="_blank">D&amp;C 11:21</a>). 
    During this program, you will read the entire Book of Mormon, do daily topical study and read the words of our living prophets. 
    The study portion of the program should take approximately one hour each day. 
    That may seem like a lot of time, but as you do your best to be consistent each day, you will find yourself looking forward to the study instead of it feeling like something that you are required to do. 
</p>
<div class="scriptures"></div>

<h2>Action</h2>
<p>
	The Gospel of Jesus Christ is not just studying; it's a program of action. 
	We seek learning by study, but also by faith (<a href="http://lds.org/scriptures/dc-testament/dc/88.118?lang=eng#117" target="_blank">D&amp;C 88:118</a>). 
	We need to put into action what we learn with regular daily and monthly activities to apply what we learn and become who Heavenly Father wants us to become. 
	During this program, you will focus on meaningful prayer, pondering, service, temple attendance, fasting and journal writing to make the Gospel one of action in your life.
</p>

<h2>Do Your Best</h2>
<p>
	The program that is outlined on this site is an intense one. 
	Those who keep up with the schedule will be blessed for their efforts and dedication. 
	However, if you are less than perfect at following the schedule, don't worry. 
	Do the best that you can and keep moving forward. 
	If you miss study, you can either start where you left off, or just keep following the schedule. 
	You may try to catch up during days when your study session seems light or when you have extra time. 
	Or, you can just wait until youve finished the 90 days and add some extra days on the end to do what you missed.    
</p>

<h2>Daily Study</h2>
<p>Each day during the program, follow the suggested study routine below:</p>
<dl>
	<dt>Book of Mormon:</dt>
	<dd>Read the assigned chapters in the Book of Mormon each day.</dd>
	<dt>Topical Study:</dt>
	<dd>Study a chapter in Preach My Gospel. Study enough each day so you will finish the chapter by the end of the week.</dd>
	<dt>Duty to God or Personal Progress:</dt>
	<dd>Work on your Duty to God or Personal Progress for at least half an hour each Sunday.</dd>
	<dt>Genernal Conference Talks:</dt>
	<dd>Study one talk from the most recent General Conference on each day assigned.</dd>
	<dt>Church Magazines:</dt>
	<dd>Read an article from a recent issue of the New Era or Ensign each day assigned.</dd>
	<dt>Scripture Mastery:</dt>
	<dd>Memorize the specified scripture mastery scripture each day assigned. 
	If you need more than one day to memorize the scripture, spend a little bit of time on it each day and extra time on the scheduled day.</dd>
</dl>
<h2>Daily Actions</h2>
<p>Perform the following tasks each day to keep applying what you are learning:</p>
<dl>
	<dt>Meaningful Prayer:</dt>
	<dd>Have a <i>meaningful</i> conversation with your Heavenly Father at least morning and night.</dd>
	<dt>Pondering:</dt>
	<dd>There's a lot of studying in this program, but the biggest benefit comes from pondering what we're studying and applying itto our lives.
	Find some time each day to quietly ponder the gospel and your life.</dd>
	<dt>Service:</dt>
	<dd>Search for ways to serve those around you and perform at least one act of servie a day.
	It doesn't have to be a big thing, just service.
	Don't forget your family members, as well.</dd>
	<dt>Journal Writing:</dt>
	<dd>Record your progress and how the Lord has blessed your life each day.</dd>
</dl>
<h2>Monthly Actions</h2>
<p>Perform the following actions monthly to apply what you're learning and to evaluate your progress and direction:</p>
<dl>
	<dt>Fasting:</dt>
	<dd>Fast for two meals at least each month on Fast Sunday with a purpose.</dd>
	<dt>Temple Attendance:</dt>
	<dd>If you hold a temple recommend, attend the temple at least once a month.</dd>
	<dt>Home and Visiting Teaching:</dt>
	<dd>If you are a home or visiting teacher, have at least one meaningful visit each month with each of your assigned families or sisters.</dd>
	<dt>Fit Test:</dt>
	<dd>Take the "Christlike Attributes" questionnaire found in <i>Preach My Gospel</i> on page 126 on days 1, 30, 60 and 90 to track your spiritual progress.</dd>
</dl>    
</div>
