<h1>Resources</h1>
<ul>
	<li><%= link_to 'SP90X Program Guide - Microsoft Word (.doc)', '#'%></li>
	<li><%= link_to 'SP90X Program Guide - Adobe Acrobat (.pdf)', '#'%></li>
	<li><%= link_to 'SP90X Kickoff Presentation - Microsoft PowerPoint (.ppt)', '#'%></li>
</ul>